
body{
background:#f2f2f2;
font-family:Arial;
}

.box{
width:350px;
margin:auto;
margin-top:120px;
background:white;
padding:30px;
border-radius:8px;
box-shadow:0px 0px 10px gray;
}

input{
width:100%;
padding:10px;
margin-top:10px;
}

button{
width:100%;
padding:10px;
margin-top:15px;
background:#28a745;
color:white;
border:none;
}

