{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<link rel="stylesheet" href={% static "CSS/patient/change_password.css" %}>

{% if success %}
<p class="success">{{success}}</p>
<script>
alert("{{success}}")
</script>
{% endif %}

</head>
<body>

<div class="box">

<h2>Change Password</h2>

{% if msg %}
<p class="msg">{{msg}}</p>
{% endif %}


<form method="POST">
{% csrf_token %}

<input type="email" name="email" placeholder="Enter Email" required>

<input type="password" name="old_password" placeholder="Enter Old Password" required>

<input type="password" name="new_password" placeholder="Enter New Password" required>

<input type="password" name="confirm_password" placeholder="Confirm New Password" required>

<button type="submit">Change Password</button>

</form>

</div>

</body>
</html>